Repository polygonov/naruto-runner: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: yarn prettier --ignore-unknown --write {staged_files} && git add {staged_files}

lint:
  run: yarn eslint --fix {staged_files} && git add {staged_files}

dark mode with api
  packages/client/src/api/base/index.ts
  packages/client/src/api/user/index.ts
  packages/client/src/api/user/types.ts
  packages/client/src/components/ThemeSwitcher/index.tsx
  packages/client/src/constant.ts
  packages/client/src/store/user/slice.ts
  packages/client/src/store/user/thunk.ts
Due: format, lint

fix(server) Поправил cors и пути запросов
  packages/server/src/constant.ts
  packages/server/src/routers/commentsRouter.ts
  packages/server/src/routers/topicsRouter.ts
  packages/server/src/routers/usersRouter.ts
  packages/server/src/server.ts
Due: format, lint

fix(server) Поправил cors и пути запросов
  packages/server/src/server.ts
Due: format, lint

fix(server) Поправил cors и пути запросов
  packages/server/src/constant.ts
  packages/server/src/server.ts
Due: format, lint

feat(forum) в процессе
  packages/client/src/api/forum/index.ts
  packages/client/src/api/forum/types.ts
  packages/client/src/pages/Forum/parts/AddTopic/index.tsx
  packages/client/src/pages/Forum/parts/TopicsList/index.tsx
  packages/client/src/store/forum/selectors.ts
  packages/client/src/store/forum/slice.ts
  packages/client/src/store/forum/thunk.ts
  packages/client/src/store/index.ts
  packages/client/src/utils/validation.ts
  packages/server/src/constant.ts
  packages/server/src/controllers/topicsController.ts
  packages/server/src/models/comments.ts
  packages/server/src/models/topics.ts
  packages/server/src/models/users.ts
  packages/server/src/routers/topicsRouter.ts
  packages/server/src/server.ts
  packages/server/src/services/commentsService.ts
  packages/server/src/services/topicsService.ts
Due: format, lint

fix: database for production
  docker-compose.production.yml
  docker-compose.yml
  packages/server/package.json
  packages/server/src/constant.ts
  packages/server/src/db/db.config.ts
Due: format, lint

feat: add nginx conf
  nginx/nginx.conf
Due: none

docs: update readme
  README.md
Due: none

fix: change stringifyUrlParams function
  packages/client/src/utils/stringifyUrlParams.ts
Due: format, lint

fix: deploy
  .github/workflows/deploy.yml
  docker-compose.production.yml
Due: none

delete unused files
  docker-compose.deploy.yml
  packages/server/src/services/CommentsService.ts
Due: format, lint

merge fix
  packages/client/src/client.d.ts
Due: format, lint

toggle theme
  packages/client/src/components/ThemeSwitcher/index.tsx
  packages/client/src/store/auth/thunk.ts
  packages/client/src/store/user/slice.ts
  packages/client/src/utils/toggleClassToBody.ts
Due: format, lint

Provider
  packages/client/src/components/MainLayout/index.tsx
Due: format, lint

fixes for pr + add score
  packages/client/src/components/Game/components/CanvasComponent/index.css
  packages/client/src/components/Game/components/CanvasComponent/index.tsx
  packages/client/src/components/Game/components/OverGameComponent/index.css
  packages/client/src/components/Game/components/OverGameComponent/index.tsx
  packages/client/src/components/Game/components/StartGameComponent/index.css
  packages/client/src/components/Game/components/StartGameComponent/index.tsx
  packages/client/src/components/Game/components/types/GameComponentProps.ts
  packages/client/src/components/Game/engine/Background.ts
  packages/client/src/components/Game/engine/Enemy.ts
  packages/client/src/components/Game/engine/EnemyManager.ts
  packages/client/src/components/Game/engine/Engine.ts
  packages/client/src/components/Game/engine/EngineOptions.ts
  packages/client/src/components/Game/index.tsx
Due: format, lint

feat(forum) готово
  docker-compose.yml
  packages/client/src/App.tsx
  packages/client/src/api/forum/index.ts
  packages/client/src/api/forum/types.ts
  packages/client/src/components/MainLayout/index.css
  packages/client/src/components/MainLayout/index.tsx
  packages/client/src/pages/Forum/parts/AddTopic/index.tsx
  packages/client/src/pages/Forum/parts/ForumHeader/index.css
  packages/client/src/pages/Forum/parts/ForumHeader/index.tsx
  packages/client/src/pages/Forum/parts/SearchTopic/index.tsx
  packages/client/src/pages/Forum/parts/TopicsList/index.css
  packages/client/src/pages/Forum/parts/TopicsList/index.tsx
  packages/client/src/pages/Topic/Message/Index.tsx
  packages/client/src/pages/Topic/TypingPlace/index.tsx
  packages/client/src/pages/Topic/index.css
  packages/client/src/pages/Topic/index.tsx
  packages/client/src/store/forum/slice.ts
  packages/client/src/store/forum/thunk.ts
  packages/client/src/utils/validation.ts
  packages/server/src/controllers/commentsController.ts
  packages/server/src/controllers/topicsController.ts
  packages/server/src/models/comments.ts
  packages/server/src/routers/commentsRouter.ts
  packages/server/src/routers/topicsRouter.ts
  packages/server/src/routers/usersRouter.ts
  packages/server/src/server.ts
  packages/server/src/services/commentsService.ts
  packages/server/src/services/topicsService.ts
Due: format, lint

delete timestamps
  packages/client/vite.config.ts.timestamp-1680545013132.mjs
  packages/client/vite.config.ts.timestamp-1681921838138.mjs
  packages/server/package.json
Due: none

Ssr+redux (#39)
  packages/client/index.html
  packages/client/src/App.tsx
  packages/client/src/api/UserService.ts
  packages/client/src/api/auth/index.ts
  packages/client/src/client.d.ts
  packages/client/src/main.tsx
  packages/client/src/repository/YandexAPIRepository.ts
  packages/client/src/store/index.ts
  packages/client/ssr.tsx
  packages/server/src/controllers/usersController.ts
  packages/server/src/repository/YandexAPIRepository.ts
  packages/server/src/server.ts
Due: format, lint

store fixes
  packages/client/src/components/MainLayout/index.tsx
  packages/client/src/store/auth/thunk.ts
  packages/client/src/store/index.ts
  packages/client/src/store/theme/index.ts
Due: format, lint

fix test
  packages/client/src/App.test.tsx
Due: format, lint

22 46/toggle theme (#42)
  packages/client/src/App.test.tsx
  packages/client/src/api/base/index.ts
  packages/client/src/api/user/index.ts
  packages/client/src/api/user/types.ts
  packages/client/src/assets/images/background/BackgroundSimple_negate.png
  packages/client/src/assets/images/background/BackgroundSimple_negate@2x.png
  packages/client/src/assets/images/background/Background_negate.png
  packages/client/src/assets/images/background/Background_negate@2x.png
  packages/client/src/assets/images/background/Game_negate.png
  packages/client/src/components/Button/index.css
  packages/client/src/components/Header/NavLink/index.css
  packages/client/src/components/Input/index.css
  packages/client/src/components/MainLayout/index.css
  packages/client/src/components/MainLayout/index.tsx
  packages/client/src/components/ThemeSwitcher/index.css
  packages/client/src/components/ThemeSwitcher/index.tsx
  packages/client/src/components/ThemeSwitcher/svg/moon.tsx
  packages/client/src/components/ThemeSwitcher/svg/sun.tsx
  packages/client/src/components/Title/index.css
  packages/client/src/constant.ts
  packages/client/src/index.css
  packages/client/src/pages/Forum/parts/TopicsList/index.css
  packages/client/src/pages/Topic/Message/index.css
  packages/client/src/store/auth/thunk.ts
  packages/client/src/store/user/slice.ts
  packages/client/src/store/user/thunk.ts
  packages/client/src/utils/toggleClassToBody.ts
  packages/server/src/constant.ts
  packages/server/src/routers/commentsRouter.ts
  packages/server/src/routers/topicsRouter.ts
  packages/server/src/routers/usersRouter.ts
  packages/server/src/server.ts
Due: format, lint

fix base api serverUrl
  packages/client/src/api/base/index.ts
Due: format, lint

delete consoles
  docker-compose.yml
  packages/server/src/controllers/topicsController.ts
  packages/server/src/controllers/usersController.ts
Due: format, lint

Update server.ts
  packages/server/src/server.ts
Due: format, lint

add postgres healthcheck and missing server envs
  docker-compose.production.yml
Due: none

adjust color palette for light theme
  packages/client/src/components/Button/index.css
  packages/client/src/components/Header/NavLink/index.css
  packages/client/src/components/Input/index.css
  packages/client/src/components/Leaderboard/index.css
  packages/client/src/components/Title/index.css
  packages/client/src/index.css
  packages/client/src/pages/Topic/Message/index.css
Due: format

Path conditions:
  format: any of: *.{ts,tsx,css}
  lint: any of: *.{ts,tsx}
